{% extends 'back/main.html' %}
{% load static %}

{% block main %}
<!-- Page content -->
<div id="page-content">
    <!-- Datatables Header -->
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="fa fa-table"></i>Sub Category List<br><small>You can Add, Edit and Delete Data</small>
            </h1>
        </div>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li>Sub Category</li>
        <li><a href="/panel/subcategory/list/">List</a></li>
    </ul>
    <!-- END Datatables Header -->

    <!-- Datatables Content -->
    <div class="block full">
        <div class="block-title">
            <h2><strong>Sub Category</strong> List</h2>
        </div>

        <div class="table-responsive">
            <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">ID</th>
                        <th class="text-center">Title</th>
                        <th class="text-center">P_Category</th>
                        <th class="text-center">Add By </th>
                        <th class="text-center">Date</th>
                        <th class="text-center">Views</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>

                    {% for c in sub_cat %}
                    <tr>
                        <td class="text-center">{{c.pk}}</td>
                        <td class="text-center"><a href="javascript:void(0)">{{c.Title}}</a></td>
                        <td class="text-center"><a href="javascript:void(0)">{{c.Parent_Name}}</a></td>
                        <td class="text-center">{{c.Created_By}}</a></td>
                        <td class="text-center">{{c.Added_Date}}</td>
                        <td class="text-center"><span class="label label-info">{{c.Views}}</span></td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="javascript:void(0)" data-toggle="tooltip" title="Edit"
                                    class="btn btn-xs btn-default"><i class="fa fa-pencil"> Edit</i></a>
                                <a href="{% url 'subcat_delete' pk=c.pk %}" data-toggle="tooltip" title="Delete"
                                    class="btn btn-xs btn-danger"><i class="fa fa-times"> Delete</i></a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- END Datatables Content -->
</div>
<!-- END Page Content -->
{% endblock main %}

{% block footerblock %}
<!-- Load and execute javascript code used only in this page -->
<script src="{% static 'Back/js/pages/tablesDatatables.js' %} "></script>
<script>$(function () { TablesDatatables.init(); });</script>
{% endblock footerblock %}