{% extends 'back/main.html' %}
{% load static %}


{% block main %}
<!-- Page content -->
<div id="page-content">
    <!-- Datatables Header -->
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="fa fa-table"></i>Add Category<br><small>You can Add, Edit and Delete Data</small>
            </h1>
        </div>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li>Category</li>
        <li><a href="/panel/category/add/">Add</a></li>
    </ul>
    <!-- END Datatables Header -->
    <div class="table-responsive">
        <div class="row">
            <div class="col-md-12">
                <!-- Basic Form Elements Block -->
                <div class="block">
                    <!-- Basic Form Elements Title -->
                    <div class="block-title">
                        <div class="block-options pull-right">
                            <a href="javascript:void(0)"
                                class="btn btn-alt btn-sm btn-default toggle-bordered enable-tooltip"
                                data-toggle="button" title="Toggles .form-bordered class">No Borders</a>
                        </div>
                        <h2><strong>Add Category</strong> Elements</h2>
                    </div>
                    <!-- END Form Elements Title -->
                    <!-- Basic Form Elements Content -->
                    <form action="{% url 'category_add' %}" method="post" enctype="multipart/form-data"
                        class="form-horizontal form-bordered">
                        {% csrf_token %}

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="example-text-input">Category Title</label>
                            <div class="col-md-6">
                                <input type="text" name="cat_title" id="cat_title" class="form-control"
                                    placeholder="Category Title">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="example-text-input">Created By</label>
                            <div class="col-md-6">
                                <input type="text" name="cat_creater" id="cat_creater" class="form-control"
                                    placeholder="Creater Name">
                            </div>
                        </div>
                        <div class="form-group">
                        <label class="col-md-3 control-label" for="example-text-input">Publishing Date</label>
                            <div class="col-md-6 col-md-offset-0">
                                <input type="text" name="added_date" value="{{date}}" id="added_date" class="form-control input-datepicker"
                                    data-date-format="dd-mm-yyyy" placeholder="{{date}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="example-text-input">Short Summary</label>
                            <div class="col-md-8">
                                <textarea rows="5" type="text" name="cat_summary" id="cat_summary" class="form-control"
                                    placeholder="Short Summary"></textarea>
                            </div>
                            
                        </div>
                        <div class="form-group ">
                            <div class="col-md-8 col-md-offset-5">
                                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i>
                                    Submit</button>
                                <button type="reset" class="btn btn-sm btn-warning"><i class="fa fa-repeat"></i>
                                    Reset</button>
                            </div>
                        </div>
                        
                </div>
                </form>
                <!-- END Basic Form Elements Content -->
            </div>
            <!-- END Basic Form Elements Block -->
        </div>

    </div>
</div>
<!-- END Page Content -->
</div>
<!-- END Page Content -->
{% endblock main %}

{% block footerblock %}
<!-- Load and execute javascript code used only in this page -->
<script src="{% static 'Back/js/pages/tablesDatatables.js' %} "></script>
<script>$(function () { TablesDatatables.init(); });</script>
{% endblock footerblock %}